@import './normal';
@import './button';
#editImgMask {
  @include mask;
  #editImgWindow {
    @include flexCenter;
    position: relative;
    z-index: 100;
    border-radius: 20px;
    box-shadow: 20px 20px 40px #aaa;
    background: rgba(255, 255, 255, 0.9);
    #btnLine {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 15px;
      right: 15px;
      z-index: 100;
    }
    #selectCropper {
      cursor: pointer;
      z-index: 2;
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      border: 1px solid rgb(0, 0, 0);
    }
    img {
      z-index: -1;
      user-select: none;
    }
  }
  #cropperResWindow {
    @include flexCenter;
    overflow: hidden;
    padding: 50px;
    flex-direction: column;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 20px 20px 40px vw#aaa;
    @media (orientation: landscape) {
      $res_width: 35vw;
      @include resSass($res_width);
    }
    @media (orientation: portrait) {
      $res_width: 70vw;
      @include resSass($res_width);
    }
  }
}
