@import './need';
#content {
  width: 100%;
  display: flex;
  flex-direction: column;
  #header {
    display: flex;
    .profilePhoto {
      cursor: pointer;
      $width: 100px;
      width: $width;
      height: $width;
      border-radius: $width/2;
    }
    #headerTitle {
      width: 250px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .nickname {
        @include ncikname(0);
      }
      #nickname {
        @include ncikname(1);
      }
      .id {
        padding-left: 5px;
        align-self: stretch;
        font-size: 20px;
      }
    }
  }
  #center {
    flex: 1;
  }
  #footer {
    width: 100%;
    display: flex;
    justify-content: center;
    .btnEdit {
      flex: 1;
      height: 50px;
      outline: none;
      border: none;
      font-size: 20px;
      border-radius: 5px;
      transition: all 0.3s;
      background: rgba(222, 225, 230, 0.8);
      margin: 2%;
      &:hover {
        background: rgb(222, 225, 230);
      }
    }
  }
}
